.products {
  display: flex;
  gap: 1rem;
  flex-flow: column wrap;
  width: 100%;
}

.productDeck {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.centerLoadingSpinner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnAdd {
  background-color: var(--color-third);
  border-radius: 50%;
  padding: .5rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.7rem;
  transition: all .3s;
}

.btnAdd:hover {
  background-color: var(--color-fourth);
  color: var(--color-light);
}