:root {
  --color-primary: #ffbe0bff;
  --color-secondary: #fb5607ff;
  --color-third: #ff006eff;
  --color-fourth: #8338ecff;
  --color-fifth: #3a86ffff;
  --color-light: #f1faee;
}

body {
  background-color: var(--color-light);
}

html,
body,
#root {
  height: 100%;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
input {
  font-family: 'Montserrat';
}

h1 {
  font-size: 2.125rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

h4 {
  font-size: 1.125rem;
  font-weight: bold;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
}

a.active {
  color: var(--color-fifth);
  font-weight: bold;
  background-color: var(--color-primary);
}

.formPage {
  display: flex;
  gap: 1rem;
  flex-flow: column wrap;
  padding: 1rem 2rem;
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .formPage {
    width: 40%;
  }
}
