button.btn {
  background-color: var(--color-third);
  color: var(--color-light);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 0.9rem;
}

button.btn:hover {
  background-color: var(--color-fourth);
}

button.btn:disabled {
  background-color: var(--color-third);
  opacity: 50%;
  cursor: auto;
}

.btn__label {
  width: 100%;
}
